
<h2>A word on our Coffee:</h2

<p>Thank you for your interest!</p>
<p>We LOVE our coffee and we LOVE our customers!</p>
<p></p>
<p>Fill out the registration form to stay current on all our hot new roasts!</p>
<br/>

