@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you for your interest!</p>
<p>We are a politically oriented group, devoted to mindlessly registering people to nothing, online with PPI</p>
<p>that we don't save, use or sell! It's actually quite a mystery how we're still able to pay the bills!</p>
<p>By the way, check the navigation bar and have yourself a register! Or three!?</p>
<br/>
<p>But seriously! Register to vote!</p>
