@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you for your interest!</p>
<p>We LOVE our coffee and we LOVE our customers!</p>
<p></p>
<p>Fill out the registration form to stay current on all our hot new roasts!</p>
<br/>
<p>But seriously! Register to vote!</p>
