<h1>Information:</h1>

<address>
    One Coffee Way<br />
    Westland, MI 48185<br />
    <abbr title="Phone">P:</abbr>
    734-772-8777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>