@{
    ViewBag.Title = "Here is how to contact us.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Coffee Way<br />
    Westland, MI 48185<br />
    <abbr title="Phone">P:</abbr>
    734-772-8777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>