


    <h1 style="color:red; border:3px solid Tomato;">Error Message 445795 - Bad Password</h1>
<br />

<form action="/Home/Register">
    <h1>Please click below to acknowledge and return to registry!</h1><br />
    <input type="submit" value="Acknowledge">
</form>




