<form action="/Home/ThankYou">
    <!-- Leads here on submit -->
    <h1>Hello! Please tell us some information about your account:</h1><br/>

    FirstName: <input type="text" name="firstname" align="left"/><br />
    LastName: <input type="text" name="lastname" align="left"/><br />
    UserEmail: <input type="text" name="email" align="left" /><br />
    Password: <input type="text" name="password" align="left" /><br />

    <!--<input type="checkbox" name="Detroit" /> Detroit<br />-->
    <input type="submit" value="Submit">

    
</form>

